*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

/*CSS for Header*/
header{
	background: url(../images/bg.jpg);
	height: 110vh;
	background-size: cover;
	background-position: center;
}

nav{
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul{
	display: flex;
	list-style-type: none;
}

nav > ul > li{
	margin: 0 20px;
}

nav > ul > li > a{
	text-decoration: none;
	color: black;
}

nav > ul > li > a:hover{
	color: gray;

}	

/*Styling for all button*/

.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	background-color: #f49e69;
}

.btn-product{
	background-color: #f49e69;
	font-size: 15px;
	

}

#travelHere{
	position: absolute;
	top: 10px;
	right: 100px;
}

#travelHere:hover{
	top: 15px;
	background-color: #fe6100;
	transition: .8s;
}

/*Disappearing Menu*/
.submenu{
	background-color: white;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
}

.submenu > div{
	width: 25%;
}

.submenu > div + div{
	border-left: 1px solid black;
}

.submenu div > h4, .submenu > div > p{
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > div >  p:hover{
	background-color: darkgray;
}

.header-text{
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1{
	font-size: 70px;
	letter-spacing: 3px;
	color: whitesmoke;
}

.header-text > h1, .header-text > p, .header-text > div > button{
	margin-left: 50px;
}

.header-text > div > .btn{
	margin-top: 20px;
	color: white;
	background-color: navy;
}


#mega-menu:hover > .submenu, #mega-menu > .submenu:hover{
	visibility: visible;
}

/*End CSS for Header*/

/*Start of Quote CSS*/

.quote{
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div{
	width: 50%;
}

.quote > div > div{
	text-align: center;
	margin-top: 20px;
}


/*End of Quote CSS */

/*Start of Benefits CSS*/

.benefits{
	height: 100vh;
	width: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inside{
	height: 100vh;
}

.left{
	width: 50vh;
	position: absolute;
	left: 13%;
	
}

.left > img{
	width: 500px;
	height: 350px;
	border-radius: 15px;
}

.right{
	width: 500px;
	position: absolute;
	right: 10%;
	letter-spacing: 1px;
	word-spacing: 1px;
	
	
}	


.right > p{
	padding-bottom: 10px;
	padding-top: 10px;
}

.lowerP{
	display: flex;
	margin-top: 10px;
}


.lowR{
	width: 50%;
	height: 250px;
	
}

.lowR > h1{
	font-size: 60px;
}

.lowR > h1 > span{
	font-size: 20px;
	position: relative;
	bottom: 35px;
}
.lowL{
	width: 50%;
	height: 250px;
	
}

.lowL > h1{
	font-size: 60px;
}

.lowL > h1 > span{
	font-size: 20px;
	position: relative;
	bottom: 35px;
}


/*End of Benefits CSS*/

/*Start of Section 3 CSS*/
.mainbox{
	height: 100vh;
	text-align: center;
	font-size: 20px;
}

.mainbox > h5{
	color: gray;
}

.mainbox > h1{
	padding-bottom: 40px;
}

.subBox{	
	display: flex;
	justify-content: center;
}

.box1{
	width: 250px;
	height: 300px;
	border: 1px solid lightgray;
	border-radius: 15px;
	margin-right: 50px; 
	position: relative;
}


.box2{
	width: 250px;
	height: 300px;
	border: 1px solid lightgray;
	border-radius: 15px;
	margin-right: 50px;
	position: relative;

}

.box3{
	width: 250px;
	height: 300px;
	border: 1px solid lightgray;
	border-radius: 15px;
	position: relative;
}

.box1 img, .box2 img, .box3 img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	bottom: 10%;
	left: 40%;
}

.box1:hover, .box2:hover, .box3:hover{
	box-shadow: 0px 10px 10px black;
	bottom: 10px; 
	transition: .5s;

}

.box1 p, .box2 p, .box3 p{
	text-align: center;
	position: absolute;
	top: 20px;
	left: 10%;
}

.topbox{
	height: 80%;
	border-bottom: 1px solid lightgray;
}

.botbox{
	height: 20%;

}
/*End of Section 3 CSS*/